Test your ICON!<br>
Current icon A: {{:data.icon_a}}<br>
Current icon B: {{:data.icon_b}}<br>
Current icon state A: {{:data.icon_state_a}}<br>
Current icon state B: {{:data.icon_state_b}}<br>
Current mode: {{:data.mode}}<br>

{{:helper.link('Set icon A', null, {'configure_icon_a' : 1}, null)}}
{{:helper.link('Set icon B', null, {'configure_icon_b' : 1}, null)}}
{{:helper.link('Set icon state A', null, {'configure_icon_state_a' : 1}, null)}}
{{:helper.link('Set icon state B', null, {'configure_icon_state_b' : 1}, null)}}
{{:helper.link('Change mode', null, {'configure_mode' : 1}, null)}}
{{:helper.link('CREATE', null, {'spawn_icon' : 1}, null)}}
